<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Câmbio</title>
</head>
<body>
    <div style="text-align: center;">
        <h3>Câmbio Eletrônico</h3>

        <form action="cambioweb/views.py">
            <div>
                {{ form.moeda }}
            </div>
            <div>
                {{ form.valor }}
            </div>
        </form>


        {% for key, dado in dados.rates.items %}
            {{key}} - {{dado}}
        {% endfor %}

    </div>
</body>
</html>